force-app/main/default/flows/Account_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Case_Details</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Case Details</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Case Details:- Subject , Reason ,and  Description of the Case are as below:

{!Loop_Over_Cases.Subject} , {!Loop_Over_Cases.Reason} ,
{!Loop_Over_Cases.Description}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Soft_Drink_Details</name>
        <elementSubtype>AddPromptInstructions</elementSubtype>
        <label>Add Soft Drink Details</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Output.Prompt</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Soft Drink Details Name , Quantity Are:{!Loop_Over_Orders.Soft_Drink__r.Name} ,{!Loop_Over_Orders.Quantity__c}
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Orders</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Summary Flow</label>
    <loops>
        <name>Loop_Over_Cases</name>
        <label>Loop Over Cases</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <collectionReference>get_Related_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Case_Details</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Over_Orders</name>
        <label>Loop Over Orders</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Soft_Drink_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Soft_Drink_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Related_cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>PromptFlow</processType>
    <recordLookups>
        <name>get_Related_cases</name>
        <label>get Related cases</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Soft_Drink_Orders</name>
        <label>Get Soft Drink Orders</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Input.RelatedEntity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Soft_Drink_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Soft_Drink_Orders</targetReference>
        </connector>
        <triggerType>Capability</triggerType>
    </start>
    <status>Active</status>
</Flow>
